body {
    font-family: Georgia;
    background-color: #05524773;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.perfil {
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 320px;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #0b4a4d;
    color: white;
}

.atualizado {
    background-color:rgb(175, 207, 128);
    color: white;
    border-radius: 10px;
    text-align: center;
}

.tema-escuro {
    background-color: #032929c4;
    color: white;
}

.campoativo {
    border: 4px solid #1900ff;
}

